header.navbar div.navbar-nav-scroll.social li {
    padding: 5px;
}
.social li span.small {
    font-size: 12px;
}
.social li span.user-icon{
	font-size: 11px;
}
.userbutton{
	color: #595858;
    padding: 5px;
    border: 1px solid #595858;
}
.navbar-nav{
	vertical-align: middle;
}
.full-width{
	width: 100%;
}
header#sub-header .col-8 .col {
    padding: 0px;
}
header#sub-header button {
    width: 100%;
    border-radius: 0px;
}
.text-muted{
	padding: 20px;
	background: #eee;
}